<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Quiz-App</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLoginServlet</display-name>
    <servlet-name>AdminLoginServlet</servlet-name>
    <servlet-class>AdminLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginServlet</servlet-name>
    <url-pattern>/AdminLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserPwdServlet</display-name>
    <servlet-name>UserPwdServlet</servlet-name>
    <servlet-class>UserPwdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserPwdServlet</servlet-name>
    <url-pattern>/UserPwdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddQuestionServlet</display-name>
    <servlet-name>AddQuestionServlet</servlet-name>
    <servlet-class>AddQuestionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddQuestionServlet</servlet-name>
    <url-pattern>/AddQuestionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuestionListServlet</display-name>
    <servlet-name>QuestionListServlet</servlet-name>
    <servlet-class>QuestionListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuestionListServlet</servlet-name>
    <url-pattern>/QuestionListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteQuestionServlet</display-name>
    <servlet-name>DeleteQuestionServlet</servlet-name>
    <servlet-class>DeleteQuestionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteQuestionServlet</servlet-name>
    <url-pattern>/DeleteQuestionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditQuestionServlet</display-name>
    <servlet-name>EditQuestionServlet</servlet-name>
    <servlet-class>EditQuestionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditQuestionServlet</servlet-name>
    <url-pattern>/EditQuestionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuizSubmitServlet</display-name>
    <servlet-name>QuizSubmitServlet</servlet-name>
    <servlet-class>QuizSubmitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuizSubmitServlet</servlet-name>
    <url-pattern>/QuizSubmitServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GotoQuestionServlet</display-name>
    <servlet-name>GotoQuestionServlet</servlet-name>
    <servlet-class>GotoQuestionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GotoQuestionServlet</servlet-name>
    <url-pattern>/GotoQuestionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserListServlet</display-name>
    <servlet-name>UserListServlet</servlet-name>
    <servlet-class>UserListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserListServlet</servlet-name>
    <url-pattern>/UserListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditUserServlet</display-name>
    <servlet-name>EditUserServlet</servlet-name>
    <servlet-class>EditUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditUserServlet</servlet-name>
    <url-pattern>/EditUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddUserServlet</display-name>
    <servlet-name>AddUserServlet</servlet-name>
    <servlet-class>AddUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUserServlet</servlet-name>
    <url-pattern>/AddUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUserServlet</display-name>
    <servlet-name>DeleteUserServlet</servlet-name>
    <servlet-class>DeleteUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUserServlet</servlet-name>
    <url-pattern>/DeleteUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminPwdServlet</display-name>
    <servlet-name>AdminPwdServlet</servlet-name>
    <servlet-class>AdminPwdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminPwdServlet</servlet-name>
    <url-pattern>/AdminPwdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CategoryServlet</display-name>
    <servlet-name>CategoryServlet</servlet-name>
    <servlet-class>CategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryServlet</servlet-name>
    <url-pattern>/CategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuizListServlet</display-name>
    <servlet-name>QuizListServlet</servlet-name>
    <servlet-class>QuizListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuizListServlet</servlet-name>
    <url-pattern>/QuizListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditQuizServlet</display-name>
    <servlet-name>EditQuizServlet</servlet-name>
    <servlet-class>EditQuizServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditQuizServlet</servlet-name>
    <url-pattern>/EditQuizServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteQuizServlet</display-name>
    <servlet-name>DeleteQuizServlet</servlet-name>
    <servlet-class>DeleteQuizServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteQuizServlet</servlet-name>
    <url-pattern>/DeleteQuizServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddQuizServlet</display-name>
    <servlet-name>AddQuizServlet</servlet-name>
    <servlet-class>AddQuizServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddQuizServlet</servlet-name>
    <url-pattern>/AddQuizServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CategoryListServlet</display-name>
    <servlet-name>CategoryListServlet</servlet-name>
    <servlet-class>CategoryListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryListServlet</servlet-name>
    <url-pattern>/CategoryListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditCategoryServlet</display-name>
    <servlet-name>EditCategoryServlet</servlet-name>
    <servlet-class>EditCategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditCategoryServlet</servlet-name>
    <url-pattern>/EditCategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCategoryServlet</display-name>
    <servlet-name>AddCategoryServlet</servlet-name>
    <servlet-class>AddCategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCategoryServlet</servlet-name>
    <url-pattern>/AddCategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCategoryServlet</display-name>
    <servlet-name>DeleteCategoryServlet</servlet-name>
    <servlet-class>DeleteCategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCategoryServlet</servlet-name>
    <url-pattern>/DeleteCategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddNewQuestionServlet</display-name>
    <servlet-name>AddNewQuestionServlet</servlet-name>
    <servlet-class>AddNewQuestionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddNewQuestionServlet</servlet-name>
    <url-pattern>/AddNewQuestionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectQuizServlet</display-name>
    <servlet-name>SelectQuizServlet</servlet-name>
    <servlet-class>SelectQuizServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectQuizServlet</servlet-name>
    <url-pattern>/SelectQuizServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AttendQuizServlet</display-name>
    <servlet-name>AttendQuizServlet</servlet-name>
    <servlet-class>AttendQuizServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AttendQuizServlet</servlet-name>
    <url-pattern>/AttendQuizServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LeaderboardServlet</display-name>
    <servlet-name>LeaderboardServlet</servlet-name>
    <servlet-class>LeaderboardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LeaderboardServlet</servlet-name>
    <url-pattern>/LeaderboardServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LeaderboardSelectQuizServlet</display-name>
    <servlet-name>LeaderboardSelectQuizServlet</servlet-name>
    <servlet-class>LeaderboardSelectQuizServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LeaderboardSelectQuizServlet</servlet-name>
    <url-pattern>/LeaderboardSelectQuizServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminSelectQuizServlet</display-name>
    <servlet-name>AdminSelectQuizServlet</servlet-name>
    <servlet-class>AdminSelectQuizServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminSelectQuizServlet</servlet-name>
    <url-pattern>/AdminSelectQuizServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLeaderboardServlet</display-name>
    <servlet-name>AdminLeaderboardServlet</servlet-name>
    <servlet-class>AdminLeaderboardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLeaderboardServlet</servlet-name>
    <url-pattern>/AdminLeaderboardServlet</url-pattern>
  </servlet-mapping>
</web-app>